<nav class="navbar navbar-expand-lg navbar-light" style="background-color:
#edcedd">
 <h3>Aloitteet</h3>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="{{ path('aloite_lista')}}">Aloitteet</a>
      <a class="nav-item nav-link" href="{{ path('aloite_uusi')}}">Uusi aloite</a>

    </div>
  </div>
</nav>